<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>一款腾讯UED设计的提示插件</name>
  <guid>57a1ac04-edfe-4ba4-8f0c-2156873823eb</guid>
  <markup />
  <installpath>zeng_msgbox</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://www.fangpage.com</homepage>
  <notes>一款多种提示效果小插件，来自腾讯网站，腾讯空间常用的这种提示效果</notes>
  <createdate>2016-07-07 18:51:34</createdate>
  <updatedate>2016-07-07 18:51:34</updatedate>
  <size />
  <free>0</free>
</PluginConfig>