<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>文档控件浏览器</name>
  <guid>ad18b7c3-b8af-4329-bf23-dfe26cb2b092</guid>
  <markup>plugins_ oc2</markup>
  <platform />
  <installpath>oc2</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll>FP_OC2.Controller</dll>
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://www.fangpage.com</homepage>
  <notes />
  <createdate>2017-09-23 11:24:53</createdate>
  <updatedate>2017-09-25 10:57:07</updatedate>
  <size />
</PluginConfig>