<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>表单管理</name>
  <guid>67406a52-2f88-48e2-b5d4-008163f99d37</guid>
  <markup>app_form</markup>
  <platform />
  <installpath>form</installpath>
  <author>方配</author>
  <version>1.1.2</version>
  <adminurl />
  <indexurl>formmanage.aspx</indexurl>
  <icon>form.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>提供表单设计管理功能&lt;br /&gt;
V1.1&lt;br /&gt;
1.优化表单的获取值以及默认值&lt;br /&gt;
2.新增会签控件以及会签显示</notes>
  <dll>FP_Form.Controller</dll>
  <sortapps>表单管理|form|formmanage.aspx</sortapps>
  <createdate>2015-11-25 09:35:52</createdate>
  <updatedate>2017-06-21 13:33:47</updatedate>
  <size />
  <width>0</width>
  <height>0</height>
</AppConfig>