<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>数据证书插件</name>
  <guid>cf002095-edd8-4118-a6e9-0f937485892f</guid>
  <markup>plugins_JITDSign</markup>
  <installpath>JITDSign</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll>FP_JITDSign.dll</dll>
  <adminurl />
  <indexurl>index.aspx</indexurl>
  <icon />
  <homepage>http://www.fangpage.com</homepage>
  <notes />
  <createdate>2016-06-20 17:46:08</createdate>
  <updatedate>2016-06-27 09:13:10</updatedate>
  <size />
  <free>0</free>
</PluginConfig>