<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>百度模板</name>
  <guid>dec515c8-56a0-4482-8a5c-6af4e7cf489e</guid>
  <markup>plugins_baidu_template</markup>
  <platform />
  <installpath>baidu_template</installpath>
  <author>吴欢津</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes />
  <createdate>2017-11-15 16:44:36</createdate>
  <updatedate>2017-11-15 16:44:36</updatedate>
  <size />
</PluginConfig>