<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>流程步骤用户选择插件</name>
  <guid>ea87b28e-cc9f-4990-a5e7-f1f1600418b4</guid>
  <markup>plugins_stepuser</markup>
  <platform />
  <installpath>stepuser</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll>FP_StepUser.dll</dll>
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes>提供流程步骤用户选择功能</notes>
  <createdate>2015-11-25 09:19:37</createdate>
  <updatedate>2016-01-29 00:18:38</updatedate>
  <size />
</PluginConfig>