<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>jQuery消息插件</name>
  <installpath>messager</installpath>
  <author>corrie</author>
  <version>1.5.0</version>
  <dll />
  <frontpage>http://www.corrie.net.cn</frontpage>
  <notes>基于jQuery的message插件实现右下角弹出消息框</notes>
  <guid>cd801ffe-4518-4aeb-bd8a-54279b2a2cb8</guid>
  <system>0</system>
  <createdate>2015-11-25 09:15:38</createdate>
  <updatedate>2015-11-25 09:15:38</updatedate>
</PluginConfig>