@charset "utf-8";
/*重置样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul, li {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
abbr, acronym {
	border:0;
}
* {
	margin:0;
	padding:0
}
/*页面基础样式*/
html {
	overflow:hidden;
}
body {
	font-size: 12px;
	background:#06C;
	font-family: Tahoma, Geneva, sans-serif;
	margin:0;
	padding:0
}
a {
	font-size: 12px;
}
a:link {
	text-decoration: none;
	color: #FFF;
}
a:visited {
	text-decoration: none;
	color: #FFF;
}
a:hover {
	text-decoration: none;
	color: #FFF;
}
a:active {
	text-decoration: none;
	color: #FFF;
}
.corner {/*只在支持css3的高级浏览器起作用*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 8px #444;
	-webkit-box-shadow: 2px 2px 8px #444;
	box-shadow:2px 2px 8px #444;
}
.loading {
	background:url(../images/loading.gif) no-repeat center center
}
.wallpapers {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:-100;
	-webkit-animation-name:fadeInOut;
	-webkit-animation-timing-function:ease-out;
	-webkit-animation-duration:2s;
	-webkit-animation-direction:alternate
}
/*界面布局样式*/
/*任务栏样式*/
#taskBar {
	width:100%;
	height:40px;
	line-height:40px;
	position:absolute;
	right:0;
	bottom:0;
	z-index:60px;
}
#leftBtn {
	width:100px;
	height:40px;
	float:left;
	display:none;
}
#rightBtn {
	width:100px;
	height:40px;
	float:right;
	display:none;
}
#leftBtn a, #rightBtn a {
	display:block;
	width:100px;
	height:40px;
	outline:none;
	background-image:url(../images/lr_btn.png);
	background-repeat:no-repeat;
}
#leftBtn a {
	background-position:left top;
}
#rightBtn a {
	background-position:right top;
}
#leftBtn a:hover {
	background-position:left bottom
}
#rightBtn a:hover {
	background-position:right bottom
}
#task_lb_wrap {
	height:40px;
	line-height:40px;
	overflow:hidden;
	position:relative;
}
#task_lb {
	width:auto;
	height:auto;
	position:absolute;
	top:0;
	right:0;
}
#task_lb a {
	display:inline-block;
	outline:none;
	width:100px;
	height:40px;
	background-image:url(../images/taskHdBtn.png);
	background-repeat:no-repeat;
	text-align:center;
	line-height:40px;
	float:left;
}
#task_lb .defaultTab {
	background-position:right top;
	color:#ccc
}
#task_lb .defaultTab:hover {
	background-position:right bottom;
}
#task_lb .selectTab {
	background-position:left top;
	color:#FFF
}
#task_lb .selectTab:hover {
	background-position:left bottom
}
#shizhong_btn {
	background:url(../images/timer.png) no-repeat center center
}
#weather_btn {
	background:url(../images/wheather.png) no-repeat center center
}
#sound_btn {
	background:url(../images/sound_open.png) no-repeat center center
}
#showZm_btn {
	background:url(../images/show-desktop.png) no-repeat center center
}
#them_btn {
	background:url(../images/skin.png) no-repeat center center
}
/*侧边浮动栏*/
#lr_bar {
	width:73px;
	height:auto;
	position:absolute;
	left:0;
	top:30px;
	background:url(../images/dock_top.png) repeat-y left top;
	z-index:310;
	-moz-box-shadow: 0px 3px 15px #444;
	-webkit-box-shadow: 0px 3px 15px #444;
	box-shadow:0px 3px 15px #444;
	padding-top:5px;
}
/*开始按钮样式*/
#start_block {
	width:73px;
	height:56px;
	position:absolute;
	left:0;
	bottom:-56px;
	background:url(../images/dock_b.png) no-repeat left bottom;
	-moz-box-shadow: 0px 5px 15px #444;
	-webkit-box-shadow: 0px 5px 15px #444;
	box-shadow:0px 5px 15px #444;
}
#start_btn {
	display:block;
	width:48px;
	height:48px;
	background:url(../../logo/start-btn.png) no-repeat center bottom;
	margin:4px auto 0 auto;
	outline:none;
	z-index:501;
	cursor:pointer;
}
#start_btn:hover {
	background-position:center top
}
/*开始菜单样式*/
#start_item {
	width:180px;
	height:auto;
	padding:5px 0;
	background: url(../images/start_item_bg.png) repeat;
	position:absolute;
	z-index:900;
	left:75px;
	bottom:0px;
	display:none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #444;
	-webkit-box-shadow: 2px 2px 5px #444;
	box-shadow:2px 2px 5px #444;
}
#start_item .item {
	width:100%;
	height:auto;
	border-top:1px solid #999;
}
#start_item .hr {
	width:100%;
	height:auto;
	border-bottom:1px solid #444;
}
#start_item .item li {
	width:98%;
	height:24px;
	overflow:hidden;
	zoom:-1;
	padding:6px 0;
	line-height:24px;
	margin:0 auto;
	color:#FFF;
}
#start_item .item li:hover {
	background:url(../images/start_item_over.png) repeat-x left bottom;
	cursor:pointer
}
#start_item .item li span {
	display:inline-block;
	width:24px;
	height:24px;
	background-repeat:no-repeat;
	margin:0 10px;
	float:left;
}
#start_item .item li b {
	width:10px;
	height:24px;
	background:url(../images/item-child.png) no-repeat center center;
	display:inline-block;
	float:right;
	margin-right:10px;
}
#start_item .sitting_btn {
	background-position:left -140px;
}
#start_item .help_btn {
	background-position:left -44px;
}
#start_item .about_btn {
	background-position:left -164px;
}
#start_item .logout_btn {
	background-position:left -20px;
}
#start_item .admin {
	border-bottom:1px solid #444;
	padding:5px 0;
	border-top:none;
}
#start_item .item li .adminImg {
	border:1px solid #E0E0E0;
	background-position:left -92px;
	background-color:#FFF;
}
/*默认小工具*/
#default_tools {
	width:71px;
	height:auto;
	overflow:hidden;
	zoom:-1;
	padding:5px 0;
	border-top:1px solid #555;
	margin:0 auto;
}
#default_tools span {
	width:30px;
	height:30px;
	display:inline-block;
	margin:0 0 0 3px;
	cursor:pointer;
	float:left;
}
/*默认应用程序*/	
#default_app {
	width:73px;
	height:auto;
	padding:5px 0;
	position:relative;
}
#default_app li {
	width:48px;
	height:48px;
	overflow:hidden;
	margin:3px auto;
	padding:6px;
}
#default_app li img {
	width:48px;
	height:48px;
	cursor:pointer;
}
#default_app .btnOver {
	background:url(../images/default_appbtn_bg.png) no-repeat center center
}
/*重写右键菜单样式*/
.smart_menu_box
{
	z-index:201105;
}
.smart_menu_box .smart_menu_a {
	color:#333
}
.smart_menu_box .smart_menu_li_separate {
	border-bottom:1px solid #d6d5d5;
}
/*窗口样式*/
.windows {
	min-width:240px;
	min-height:200px;
	width:700px;
	height:560px;
	position:absolute;
	display:none;
	background-color:#E0E0E0;
}
.win_title {
	width:100%;
	height:30px;
	line-height:30px;
	background:#E0E0E0 url(../images/titlebar_bg_cur.png) repeat-x left center;
    background-color:#BD916F;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size:14px;
}
.win_title .title {
	display: inline-block;
	text-align: center;
	color: #000;
	font-size: 14px;
	text-shadow: 0 1px 1px #fff;
	font-weight:bold;
	margin-left:10px;
}
.win_title .win_btnblock {
	width:auto;
	padding:0 5px;
	float:right;
	height:17px;
	margin:7px 3px 0 0;
}
.win_title .win_btnblock a {
	display:inline-block;
	width:26px;
	height:17px;
	background-image:url(../images/windowBtn.png);
	background-repeat:no-repeat;
	float:left;
	margin:0 1px;
	outline:none;
}
.winMaximize {
	background-position:right bottom;
}
.winMaximize:hover {
	background-position:right top;
}
.winHyimize {
	background-position:-26px bottom;
}
.winHyimize:hover {
	background-position:-26px top;
}
.winClose {
	background-position:-52px top;
}
.winClose:hover {
	background-position:-52px bottom;
}
.winMinimize {
	background-position:left bottom;
}
.winMinimize:hover {
	background-position:left top;
}
.winframe {
	width:100%;
	height:auto;
	margin:0 0 0 3px;
	padding:0
}
/*桌面图标*/	
.deskIcon {
	width:100%;
	height:auto;
	overflow:hidden;
	zoom:-1;
	position:relative;
}
.desktop_icon {
	width:86px;
	height:88px;
	cursor:pointer;
	margin-left:-1000px;
	text-align:center;
}
.desktop_icon span {
	display:block;
}
.desktop_icon .icon {
	width:50px;
	height:50px;
	margin:5px auto;
}
.desktop_icon .icon img {
	width:50px;
	height:50px;
}
.desktop_icon .text {
	display:inline-block;
	width:auto;
	height:22px;
	line-height:22px;
	text-align:center;
	color:#fff;
	background:url(../images/iconTextbg.png) no-repeat left center;
	position:relative;
	padding-left:10px;
	margin-right:10px;
}
.desktop_icon .right_cron {
	width:10px;
	height:22px;
	position:absolute;
	right:-10px;
	top:0;
	background:url(../images/iconTextbg_right.png) left center no-repeat;
}
.desktop_icon_over {
	background:url(../images/icon_over.png) no-repeat center center;
}
.desktop_count {
	text-align:center;
	color:#FFF;
	font-weight:bold;
	padding-top:1px;
	z-index:3;
	position:absolute;
	top:-10px;
	right:-10px;
	width:25px;
	height:26px;
	background:url(../images/count_bg.png) no-repeat;
	display:none;
}
.board {
	display:block;
	outline:none;
	position:absolute;
	right:6px;
	top:10px;
	z-index:90;
	float:left;
	width:82%;
    margin-right:50px;
}
.module {
	width:96%;
	line-height:25px;
	color:#CCC;
	text-indent:26px;
	-moz-box-shadow: 0px 3px 15px #444;
	-webkit-box-shadow: 0px 3px 15px #444;
	box-shadow:0px 3px 15px #444;
	border:solid 1px #705e47;
	float:left;
	margin-right:10px;
	margin-bottom:15px;
	overflow:hidden;
}
.module .title {
	display:inline-block;
	width:75%;
	height:22px;
	line-height:22px;
	text-align:left;
	color:#fff;
	position:relative;
	margin-top:10px;
	font-weight:bold;
}
.module .center_cron {
	width:100%;
	height:22px;
	background:url(../images/iconTextbg_center.png) repeat-x;
	padding-right: 10px;
	margin-left: 10px;
    text-align:center;
}
.module .left_cron {
	width:10px;
	height:22px;
	background:url(../images/iconTextbg_left.png) no-repeat;
	float: left;
}
.module .right_cron {
	width:10px;
	height:22px;
	position:absolute;
	right:-30px;
	top:0;
	background:url(../images/iconTextbg_right.png) left center no-repeat;
}
.module .status_list li {
	padding-left: 10px;
	line-height: 20px;
	background: url(../images/li_dot.png) no-repeat 25px 6px;
	list-style: none;
	font-size: 16px;
	text-overflow: ellipsis;
}
#navbox {
	height: 25px;
	line-height: 25px;
	z-index:110;
	color: #FFF;
	position:absolute;
	top:5px;
	overflow:hidden;
}
#userinfo {
	height: 30px;
	line-height: 30px;
	text-indent: 26px;
	display: block;
	font-weight: bold;
	font-size: 14px;
	margin-right:5px;
	float:left;
	background: url(../images/user.png) no-repeat 8px 8px;
}
#timebox {
	width: 260px;
	height: 30px;
	line-height: 30px;
	text-indent: 26px;
	display: block;
	font-weight: bold;
	font-size: 14px;
	float:left;
	background: url(../images/timer.png) no-repeat 8px 8px;
}
/*壁纸控制*/
#wallpaper-ctrl {
	position:absolute;
	top:10px;
	left:5px;
	z-index:110px;
}
.wallpaperImg {
	width:19px;
	height:19px;
	margin:0 3px;
	overflow:hidden;
	background:url(../images/arrow.png) no-repeat;
	display:inline-block;
	text-decoration:none
}
.pre {
	background-position:-2px -2px
}
.pre:hover {
	background-position:-3px -42px
}
.next {
	background-position:-25px -2px
}
.next:hover {
	background-position:-26px -42px
}
/*桌面工具栏*/
#navbar {
	display:inline-block;
	height:32px;
	line-height:32px;
	position:absolute;
	left:50%;
	z-index:110;
	top:6px
}
#navbar s {
	display:inline-block;
	width:15px;
	height:32px;
	background-image:url(../images/navbarbg.png);
	background-repeat:no-repeat
}
#navbar s.l {
	background-position:left top;
	position:absolute;
	top:0;
	left:-15px
}
#navbar s.r {
	background-position:left -32px;
	position:absolute;
	top:0;
	right:-15px
}
#navbar span {
	display:inline-block;
	height:32px;
	background:url(../images/navbarbg.png) repeat-x left bottom
}
#navbar span a, #navbar span b {
	display:inline-block;
	width:26px;
	height:26px;
	line-height:26px;
	text-decoration:none;
	text-align:center;
	outline:0;
	margin:3px 5px;
	font-family:"黑体", "微软雅黑";
	font-size:14px;
	color:#FFF;
	cursor:pointer;
	float:left
}
#navbar span b {
	width:20px;
	height:20px;
	margin:7px 0 0 0;
	background:url(../images/quanju.png) no-repeat center -1px
}
#navbar span b.hover {
	background-position:center -21px
}
#navbar a.tab {
	width:20px;
	height:20px;
	margin:7px 3px 0 0;
	background:url(../images/navbar.png) no-repeat -19px center;
	line-height:20px;
	color:#666;
}
#navbar a.curtab {
	width:20px;
	height:20px;
	margin:7px 3px 0 0;
	background:url(../images/navbar.png) no-repeat;
	line-height:20px;
}
#navbar a.tabadd {
	background:url(../images/tabadd.png) no-repeat center center
}

/*全局视图*/
#appmanage {
	display:none;
	height:100%;
	left:0;
	overflow:hidden;
	position:absolute;
	top:0;
	width:100%;
	z-index:1000;
}
#appmanage .amg_close {
	background:url(../images/back_normal.png);
	cursor: pointer;
	width: 90px;
	height: 37px;
	position: absolute;
	top: 20px;
	right: 20px;
	_background:0;
   _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/back_normal.png', sizingMethod='crop')
}
#appmanage .amg_close:hover {
	background:url(../images/back_hover.png);
	_background:0;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/back_hover.png', sizingMethod='crop')
}
#appmanage .amg_close:active {
	background:url(../images/back_click.png);
	_background:0;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/back_click.png', sizingMethod='crop')
}
#amg_dock_container {
	background:url(../images/amg_top.png) repeat-x;
	height:60px;
	overflow:hidden;
	padding:10px
}
#amg_dock_container .appbtn {
	padding:6px;
	height:48px;
	width:48px;
}
#amg_dock_container .appbtn span {
	display:none
}
#appmanage .amg_line_x {
	border-bottom:1px solid #666666;
	font-size:0;
	height:0;
	width:100%
}
#appmanage .amg_line_y {
	background:url(../images/amg_line_y.png) repeat-y;
	height:100%;
	right:-1px;
	position:absolute;
	top:0;
	width:3px
}
#amg_folder_container {
	background:url(../images/amg_body.png) repeat;
	overflow:hidden;
	height:100%
}
#amg_folder_container .folderItem {
	width:255px;
	height:100%;
	overflow:hidden;
	float:left;
	position:relative;
	-webkit-transform:rotateY(70deg);
	-moz-transform:rotateY(70deg);
	-o-transform:rotateY(70deg);
	transform:rotateY(70deg);
	-webkit-transform-origin:center center;
	-moz-transform-origin:center center;
	-o-transform-origin:center center;
	transform-origin:center center;
	-webkit-transition:-webkit-transform .8s linear;
	-moz-transition:-moz-transform .8s linear;
	-o-transition:-o-transform .8s linear;
	transition:transform .8s linear
}
#amg_folder_container .folderItem_turn {
	-webkit-transform:rotateY(0deg);
	-moz-transform:rotateY(0deg);
	-o-transform:rotateY(0deg);
	transform:rotateY(0deg)
}
#amg_folder_container .folder_bg {
	height:100px;
	position:absolute;
	right:0;
	top:0;
	width:70px;
	font-size:100px;
	color:#fff;
	filter:alpha(opacity=20);
	-moz-opacity:.2;
	opacity:.2;
	font-family:"黑体", "宋体", "幼圆";
	line-height:100px;
}
#amg_folder_container .folderOuter {
	height:100%;
	overflow:hidden;
	position:relative
}
#amg_folder_container .folderInner {
	margin:5px 0;
	min-width:180px;
	position:relative;
	z-index:1;
	height:100%;
	overflow:hidden
}
#amg_folder_container .appbtn, #shortcut_shadow2 {
	height:26px;
	width:100%;
	padding:2px 0;
	overflow:hidden;
	margin-top:12px;
}
#amg_folder_container .appbtn:hover, #amg_dock_container .appbtn:hover {
	border-radius:0;
	background:rgba(255, 255, 255, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3F000000, endcolorstr=#3F000000);
	cursor: pointer;
}
#amg_folder_container .appbtn img, #shortcut_shadow2 img {
	margin-left:20px;
}
#amg_folder_container .appbtn span, #shortcut_shadow2 span {
	color:#fff;
	width:100%!important;
	height:26px;
	line-height:26px;
	margin-top:-26px;
	margin-left:50px;
	float:left;
	text-align:left;
	background:none
}
#desktopPanel{
	overflow:hidden;
	z-index:100px;
}
#desktopInnerPanel{
	position:relative;
}
.desktop{
	float:left;
	position:relative;
}