<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>公文收发</name>
  <guid>3020fb8c-e831-401d-8b89-cf52745d7f26</guid>
  <markup>app_document</markup>
  <platform />
  <installpath>document</installpath>
  <author>方配</author>
  <version>2.5.2</version>
  <adminurl />
  <indexurl>inbox.aspx</indexurl>
  <icon>document.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>提供收发文处理、公文管理、公文查询功能</notes>
  <dll>FP_Document.Controller</dll>
  <sortapps>发文管理|document|documentmanage.aspx</sortapps>
  <createdate>2015-11-25 09:32:46</createdate>
  <updatedate>2017-06-21 13:32:23</updatedate>
  <size>169.52 K</size>
  <width>0</width>
  <height>0</height>
</AppConfig>