<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>请假申请</name>
  <guid>745aafb2-24ea-4360-b262-dba7aab5d042</guid>
  <markup>app_leave</markup>
  <platform />
  <installpath>leave</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <adminurl />
  <indexurl />
  <icon>leave.png</icon>
  <homepage />
  <notes />
  <dll>FP_Leave.Controller</dll>
  <sortapps />
  <createdate>2018-01-09 09:01:46</createdate>
  <updatedate>2018-01-11 09:58:04</updatedate>
  <size />
  <width>0</width>
  <height>0</height>
</AppConfig>