<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>网页图片生成插件</name>
  <guid>99e02140-31cd-43cc-9868-8530a434264b</guid>
  <markup>plugins_webviewer</markup>
  <platform />
  <installpath>webviewer</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll>FP_WebViewer</dll>
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://www.fangpage.com</homepage>
  <notes />
  <createdate>2017-06-22 16:09:24</createdate>
  <updatedate>2017-06-22 16:23:38</updatedate>
  <size />
</PluginConfig>