<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>百度上传插件</name>
  <guid>2656782f-f126-4af4-b662-eea888cff3a8</guid>
  <markup>plugins_webuploader</markup>
  <platform />
  <installpath>webuploader</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes />
  <createdate>2017-09-02 12:08:37</createdate>
  <updatedate>2017-09-02 12:08:37</updatedate>
  <size />
</PluginConfig>