@charset "utf-8";
.list-user {height: 240px; overflow-y: auto; overflow-x: hidden; margin: 0; }
.list-user .item {height: 43px;}
.list-user .item .select {float:left; width: 20px; height: 41px; line-height: 41px;}
.list-user .item .img {float: left}
.list-user .item img {width: 40px; height: 40px;}
.list-user .item .info {padding-left: 63px;}
.list-user .item .info .text-name {font-weight: bold;}
.list-user .item .info .text-org,.list-user .item .info .text-role,.list-user .item .info .text-position {float: left;width: 100px;}
.list-user .item .info .text-role,.list-user .item .info .text-position{margin-left: 4px;}
.list-user .text-none {font-style: italic; border: none;}
#turn_user_list > .active {border-left: 1px solid #e5e5e5; background-color: #F5F5F5;}
#turn_user_list > .active > a{color: initial;}