<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>手机短信</name>
  <guid>e218ae69-b63e-4986-8267-27348d5c5eea</guid>
  <markup>app_sms</markup>
  <platform />
  <installpath>sms</installpath>
  <author>方配</author>
  <version>1.0.3</version>
  <adminurl />
  <indexurl>smssend.aspx</indexurl>
  <icon>sms.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>V1.0&lt;br /&gt;
1.新增ismsg和issms两个字段，可以用来控制发送短信息时是否同时发送手机短信的功能</notes>
  <dll>FP_SMS.Controller</dll>
  <sortapps />
  <createdate>2015-11-25 09:37:33</createdate>
  <updatedate>2017-06-09 01:07:55</updatedate>
  <size>38.89 K</size>
  <width>0</width>
  <height>0</height>
</AppConfig>