<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>通信录</name>
  <guid>a93ab67d-9912-4b04-ad44-a881719b00c6</guid>
  <markup>app_address</markup>
  <platform />
  <installpath>address</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <adminurl />
  <indexurl>index.aspx</indexurl>
  <icon>address.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes />
  <dll>FP_Address,FP_Address</dll>
  <sortapps />
  <createdate>2016-06-24 11:07:32</createdate>
  <updatedate>2017-06-21 13:31:56</updatedate>
  <size />
  <width>0</width>
  <height>0</height>
</AppConfig>