<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>面板信息插件</name>
  <guid>caac542d-830d-4c90-957f-28974b3c9c6e</guid>
  <markup>plugins_board</markup>
  <platform />
  <installpath>board</installpath>
  <author>方配</author>
  <version>2.6.16</version>
  <dll>FP_Board.Controller</dll>
  <adminurl />
  <indexurl>boardmanage.aspx</indexurl>
  <icon>board.png</icon>
  <homepage />
  <notes>提供面板信息显示的插件</notes>
  <createdate>2016-02-17 09:47:34</createdate>
  <updatedate>2017/7/19 15:52:37</updatedate>
  <size>18.30 K</size>
</PluginConfig>