/**
 * @author Liupeng
 * @readme 全局通用样式，在更换主题
 * @update 2013/3/27 16:02:14
 */

/* 通用基础样式 */
.T_bc, .T_pbc a:hover, .T_pbc a.active, .T_darrow{border-color:#50b0fc;}
.T_stxt, .T_ptxt a{color:#8e8e8e;}
.T_stxt:hover, .T_ptxt a:hover{color:#50b0fc;text-decoration:none;}
.T_icon {color:#50b0fc;}
.T_bg a{color: #000  !important;}
.T_bg a.btn{color: #fff  !important;}
.T_bg .nav-list a:hover{background-color:#50b0fc !important;color: #fff !important;opacity:0.6  !important;filter:alpha(opacity=60)  !important;}
.T_bg .nav-list .active a,.T_bg .nav-list .active a:hover {background-color:#50b0fc !important;color:#fff !important;opacity:1  !important;filter:alpha(opacity=100)  !important;}
.T_bg .nav-list li a .badge{color:#50b0fc !important;}