<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>jQueryCookie插件</name>
  <installpath>jcookie</installpath>
  <author>Klaus Hartl</author>
  <version>1.4.1</version>
  <dll />
  <frontpage>https://github.com/carhartl/jquery-cookie</frontpage>
  <notes>一款优秀的 jquery 插件，提供了非常轻量级、简单、实用的操作 cookie 的方法，包括读写、删除等操作</notes>
  <guid>7722581d-72f2-40d0-ad88-1d6df7f5b86c</guid>
  <system>0</system>
  <createdate>2015-11-25 09:14:59</createdate>
  <updatedate>2015-11-25 09:14:59</updatedate>
</PluginConfig>