<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>附件PDF阅读器插件</name>
  <guid>68488e89-c778-4470-a534-bd48f9fac46b</guid>
  <markup>attach_viewer</markup>
  <platform />
  <installpath>pdf</installpath>
  <author>方配</author>
  <version>1.1.0</version>
  <dll>FP_Attach.dll;Aspose.Cells.dll;Aspose.Slides.dll;Aspose.Words.dll;iTextSharp.dll</dll>
  <adminurl />
  <indexurl />
  <icon>pdf.gif</icon>
  <homepage />
  <notes>提供系统附件的附件PDF在线阅读。</notes>
  <createdate>2015-11-25 09:09:44</createdate>
  <updatedate>2016-03-15 17:46:32</updatedate>
  <size />
</PluginConfig>