<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>流程用户选择插件</name>
  <guid>661d8e96-eadf-4575-89ba-736f1440e5ba</guid>
  <markup>plugins_flowuser</markup>
  <installpath>flowuser</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll>FP_FlowUser.dll</dll>
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes>提供流程用户的选择，包括主办和协办用户</notes>
  <createdate>2015-11-25 09:14:10</createdate>
  <updatedate>2016-01-29 00:16:39</updatedate>
  <size />
  <free>0</free>
</PluginConfig>