<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>Uploadify文件上传插件</name>
  <guid>c9565bc5-1ec3-4d7d-9f8e-0b358edf9f30</guid>
  <markup />
  <installpath>uploadify</installpath>
  <author>uploadify</author>
  <version>3.2.1</version>
  <dll />
  <frontpage>http://www.uploadify.com/</frontpage>
  <notes>在线示例：http://www.uploadify.com/demos/&lt;br /&gt;
下载地址：http://www.uploadify.com/download/&lt;br /&gt;
文档配置地址：http://www.uploadify.com/documentation/</notes>
  <createdate>2016-03-07 10:37:12</createdate>
  <updatedate>2016-03-10 18:01:04</updatedate>
  <isinstall>0</isinstall>
</PluginConfig>