<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>返回按钮和查询库插件</name>
  <installpath>ba-bbq</installpath>
  <author>Ben Alman</author>
  <version>1.4.0</version>
  <dll />
  <frontpage>http://github.com/cowboy/jquery-bbq/</frontpage>
  <notes>反序列化任何字符串参数、文档查询字符串好或片段至一个 object 对象中，包括最新的 jQuery.param 格式。&lt;br /&gt;
合并任何含有查询字符串或片段参数的 URL 至一个 object对象中，或将参数字符串或第二个 URL（包括当前文档位置） 合并为一个新的 URL。&lt;br /&gt;
更新 URL 属性（如 a[href], img[src], form[action]等等），并将以上合并的 object 对象和新的 URL 设置为更新的属性。&lt;br /&gt;
实现跨浏览器的动态页面应用程序的前进后退功能。&lt;br /&gt;
为 hashchange event 绑定侦听。&lt;br /&gt;</notes>
  <guid>2a7a5b51-2796-4314-a708-7dda5aab9448</guid>
  <system>0</system>
  <createdate>2015-11-25 09:10:56</createdate>
  <updatedate>2015-11-25 09:10:56</updatedate>
</PluginConfig>