<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>PDF浏览器</name>
  <guid>27566773-4f00-4d32-bb8c-87e703877268</guid>
  <markup>plugins_pdf_viewer</markup>
  <platform />
  <installpath>pdf_viewer</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes />
  <createdate>2017-06-16 10:57:11</createdate>
  <updatedate>2017-06-16 10:57:11</updatedate>
  <size />
</PluginConfig>