<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>jQuery鼠标滚轮插件</name>
  <installpath>mousewheel</installpath>
  <author>Brandon</author>
  <version>3.1.12</version>
  <dll />
  <frontpage>http://brandon.aaron.sh</frontpage>
  <notes>jQuery插件默认是不支持鼠标中轮滚轮事件的，现在我们可以用于添加跨浏览器的鼠标滚轮支持可以使用jquery的Mousewheel插件。</notes>
  <guid>68c8dd85-8e9e-41ed-92a7-f1449c0e4a56</guid>
  <system>0</system>
  <createdate>2015-11-25 09:15:53</createdate>
  <updatedate>2015-11-25 09:15:53</updatedate>
</PluginConfig>