<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>方配计数器插件</name>
  <guid>60c9da46-3367-45f6-bd6d-9b7f93f6ec4e</guid>
  <markup>plugins_count</markup>
  <platform />
  <installpath>count</installpath>
  <author>方配</author>
  <version>2.5.4</version>
  <dll>FP_Count.dll</dll>
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes>提供系统计数功能</notes>
  <createdate>2016-02-01 11:03:07</createdate>
  <updatedate>2017/3/15 16:38:29</updatedate>
  <size>884 B</size>
</PluginConfig>