<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>内部邮件</name>
  <guid>8268e1f3-b189-4522-9406-06e3da579fb0</guid>
  <markup>app_email</markup>
  <platform />
  <installpath>email</installpath>
  <author>方配</author>
  <version>2.5.4</version>
  <adminurl />
  <indexurl>inbox.aspx</indexurl>
  <icon>email.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>提供内部邮件功能</notes>
  <dll>FP_Email.Controller</dll>
  <sortapps />
  <createdate>2015-11-25 09:34:21</createdate>
  <updatedate>2017-08-31 15:30:37</updatedate>
  <size>147.34 K</size>
  <width>0</width>
  <height>0</height>
</AppConfig>