<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>对话框插件</name>
  <guid>6517d27e-bc57-4cfe-a8ce-0ec5a5180511</guid>
  <markup />
  <installpath>artDialog</installpath>
  <author>糖饼</author>
  <version>4.1.7</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://lab.seaning.com</homepage>
  <notes>artDialog是一个基于javascript编写的对话框组件，它拥有精致的界面与友好的接口</notes>
  <createdate>2016-07-07 18:18:01</createdate>
  <updatedate>2016-07-07 18:35:56</updatedate>
  <size />
  <free>0</free>
</PluginConfig>