<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>流程管理</name>
  <guid>86791b37-02af-4340-8c45-288298c294c9</guid>
  <markup>app_flow</markup>
  <platform />
  <installpath>flow</installpath>
  <author>方配</author>
  <version>1.1.2</version>
  <adminurl />
  <indexurl>flowmanage.aspx</indexurl>
  <icon>flow.gif</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>提供流程设计管理功能&lt;br /&gt;
V1.1&lt;br /&gt;
1.隐藏字段改为协办字段</notes>
  <dll>FP_Flow.Controller</dll>
  <sortapps>流程管理|flow|flowmanage.aspx;/app/workflow/workmanage.aspx</sortapps>
  <createdate>2015-11-25 09:22:49</createdate>
  <updatedate>2017-06-21 13:32:57</updatedate>
  <size />
  <width>0</width>
  <height>0</height>
</AppConfig>