<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>系统消息</name>
  <guid>b8520061-db3d-455d-bc68-dda68b8640cd</guid>
  <markup>app_message</markup>
  <platform />
  <installpath>message</installpath>
  <author>方配</author>
  <version>2.5.2</version>
  <adminurl />
  <indexurl>msglist.aspx</indexurl>
  <icon>message.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>提供系统消息提醒&lt;br /&gt;
V1.0&lt;br /&gt;
1.优化消息提醒，新增关联链接跳转方式、新消息字段</notes>
  <dll>FP_Message.Controller</dll>
  <sortapps />
  <createdate>2015-11-25 09:37:19</createdate>
  <updatedate>2017-07-23 16:22:34</updatedate>
  <size>64.39 K</size>
  <width>0</width>
  <height>0</height>
</AppConfig>