@charset "utf-8";
#smartSearch{
    border: 1px solid #BBB;
    background: #FFF;
    padding: 1px 10px;
    height: 24px;
    line-height: 24px;
    margin: 3px 5px 3px 2px;
    border-radius: 15px;
    box-shadow: 0 1px 1px #E6E6E6 inset;
}
#smartSearch input{
    background: #fff;
    height: 20px;
    width:200px;
    _height: 20px;
    line-height: 20px;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
}
#smartSearch .search_icon {
    position:absolute;
    top: 6px;
    font-size: 12px;
    color:#666;
}
#smartSearch .icon-search-2 {
    left: 8px;
    top: 6px;
}
#smartSearch li .search-word{
    color:#000;
}