<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>通知公告</name>
  <guid>077733b9-090d-4248-b05a-fa4b4d4f1970</guid>
  <markup>app_notice</markup>
  <platform />
  <installpath>notice</installpath>
  <author>方配</author>
  <version>2.5.4</version>
  <adminurl />
  <indexurl>noticelist.aspx</indexurl>
  <icon>notice.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>提供OA系统通知公告功能</notes>
  <dll>FP_Notice.Controller</dll>
  <sortapps />
  <createdate>2015-11-25 09:24:33</createdate>
  <updatedate>2017-06-09 01:06:22</updatedate>
  <size>91.39 K</size>
  <width>0</width>
  <height>0</height>
</AppConfig>