<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>jQuery实现自动完成插件</name>
  <installpath>autocomplete</installpath>
  <author>Jorn Zaefferer</author>
  <version>1.1.0</version>
  <dll />
  <frontpage>http://bassistance.de/jquery-plugins/jquery-plugin-autocomplete/</frontpage>
  <notes>jQuery.Autocomplete 是jquery的流行插件，能够很好的实现输入框的自动完成(autocomplete)、建议提示(input suggest)功能，支持ajax数据加载。使用说明：http://blog.csdn.net/daicj88/article/details/6822410</notes>
  <guid>cf823367-d5c0-4996-8342-57dc86b32e67</guid>
  <system>0</system>
  <createdate>2015-11-25 09:10:37</createdate>
  <updatedate>2015-11-25 09:10:37</updatedate>
</PluginConfig>