<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>系统设置</name>
  <guid>9c3906e9-b063-4765-bc77-6a199583b4ac</guid>
  <markup>app_settings</markup>
  <platform />
  <installpath>settings</installpath>
  <author>方配</author>
  <version>1.0.1</version>
  <adminurl />
  <indexurl>profile.aspx</indexurl>
  <icon>settings.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>提供OA系统设置功能</notes>
  <dll>FP_Settings.Controller</dll>
  <sortapps />
  <createdate>2015-11-25 09:36:41</createdate>
  <updatedate>2017-07-23 16:22:44</updatedate>
  <size />
  <width>0</width>
  <height>0</height>
</AppConfig>