<?xml version="1.0"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>方配办公自动化系统</name>
  <guid>00c19451-6f32-4656-8f36-5e2b98095479</guid>
  <markup>FP_OA</markup>
  <platform />
  <sitepath>oa</sitepath>
  <author>方配</author>
  <import />
  <dll>FP_OA.dll</dll>
  <urltype>1</urltype>
  <notes>官方网站：&lt;a href="http://www.fangpage.com" target="_blank"&gt;http://www.fangpage.com&lt;/a&gt;，QQ：12677206，电话：13481092810</notes>
  <version>2.5.5</version>
  <sitetitle>方配办公自动化系统(OA)</sitetitle>
  <keywords>办公系统,工作流引擎,OA系统</keywords>
  <description>国内首款无功能和用户限制，并且永久免费的办公自动化系统。</description>
  <otherhead />
  <copyright>方配软件(FangPage.Com)</copyright>
  <homepage>http://www.fangpage.com</homepage>
  <adminurl />
  <indexurl />
  <icon />
  <autocreate>1</autocreate>
  <closed>0</closed>
  <closedreason>站点正在升级，请稍后再访问！</closedreason>
  <ipdenyaccess />
  <ipaccess />
  <createdate>2014-10-22</createdate>
  <updatedate>2017-08-21 20:25:57</updatedate>
  <size>8.63 M</size>
  <roles />
</SiteConfig>