<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>Web打印控件</name>
  <guid>b77c0b0e-9d27-476e-89c9-392863687989</guid>
  <markup>plugins_lodop</markup>
  <platform />
  <installpath>lodop</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes />
  <createdate>2017-04-07 10:05:16</createdate>
  <updatedate>2017-04-07 10:05:16</updatedate>
  <size />
</PluginConfig>