<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>jQuery文件上传插件</name>
  <guid>c295acbb-35f9-4205-ba0c-dd1f7f370005</guid>
  <markup />
  <installpath>multifile</installpath>
  <author>fyneworks</author>
  <version>1.47.0</version>
  <dll />
  <frontpage>http://www.fyneworks.com/jquery/multiple-file-upload/</frontpage>
  <notes>jQuery MultiFile多文件上传插件帮助用户轻松上传多个文件，可以让你加入一些基本验证限制，比如上传文件个数、大小、文件扩展名等可配置项，多语言版本支持。</notes>
  <createdate>2015-11-25 09:16:00</createdate>
  <updatedate>2016-03-07 17:47:09</updatedate>
  <isinstall>0</isinstall>
</PluginConfig>