<?xml version="1.0"?>
<AppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>工作办理</name>
  <guid>1d9c67fe-1753-4c88-bc5b-85daecf1dacd</guid>
  <markup>app_workflow</markup>
  <platform />
  <installpath>workflow</installpath>
  <author>方配</author>
  <version>2.7.11</version>
  <adminurl />
  <indexurl>workinbox.aspx</indexurl>
  <icon>workflow.png</icon>
  <homepage>http://www.fangpage.com</homepage>
  <notes>提供工作流管理工作功能</notes>
  <dll>FP_WorkFlow.Controller</dll>
  <sortapps />
  <createdate>2015-11-25 09:34:35</createdate>
  <updatedate>2017/8/3 21:25:13</updatedate>
  <size>440.17 K</size>
  <width>0</width>
  <height>0</height>
</AppConfig>