<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>Bootstrap插件</name>
  <installpath>bootstrap</installpath>
  <author>Bootstrap</author>
  <version>2.3.2</version>
  <dll />
  <frontpage>http://www.bootcss.com/</frontpage>
  <notes />
  <guid>d57b3991-cdf6-4306-b6dc-bae0c7cbc755</guid>
  <system>0</system>
  <createdate>2015-11-25 09:11:10</createdate>
  <updatedate>2015-11-25 09:11:10</updatedate>
</PluginConfig>