<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>Office文档在线编辑插件</name>
  <guid>fae62668-900c-4b09-a418-b0b40ed8c63b</guid>
  <markup>plugins_ntko</markup>
  <platform />
  <installpath>ntko</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll>FP_NTKO.dll</dll>
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes>提供文档在线编辑功能</notes>
  <createdate>2015-11-25 09:16:53</createdate>
  <updatedate>2016-01-29 00:17:53</updatedate>
  <size />
</PluginConfig>