<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>全日历插件</name>
  <guid>438b118e-7afc-4fac-bb31-7cb6f9bd1913</guid>
  <markup />
  <installpath>fullcalendar</installpath>
  <author>Adam Shaw</author>
  <version>1.6.4</version>
  <dll />
  <adminurl />
  <indexurl />
  <icon />
  <homepage>http://fullcalendar.io</homepage>
  <notes>FullCalendar是一款基于jQuery的日历插件，适用于各种日程安排、工作计划等场景，您可以很方便的查看查看待办事项，标记重要事项以及绑定点击和拖动事件，能快速的整合到您的项目中</notes>
  <createdate>2015-11-25 09:14:46</createdate>
  <updatedate>2016-05-31 18:23:43</updatedate>
  <size />
  <free>0</free>
</PluginConfig>