<?xml version="1.0"?>
<PluginConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <name>用户选择插件</name>
  <guid>474721d0-0832-41b0-9453-282cbdb9b70c</guid>
  <markup>plugins_selectuser</markup>
  <installpath>selectuser</installpath>
  <author>方配</author>
  <version>1.0.0</version>
  <dll>FP_SelectUser.dll</dll>
  <adminurl />
  <indexurl />
  <icon />
  <homepage />
  <notes>提供系统用户选择功能</notes>
  <createdate>2015-11-25 09:18:24</createdate>
  <updatedate>2016-01-29 00:18:22</updatedate>
  <size />
  <free>0</free>
</PluginConfig>